<!DOCTYPE html>
<html>
<head>
  <title>Invitation</title>
  <%= stylesheet_link_tag    "invitation/application", media: "all" %>
  <%= javascript_include_tag "invitation/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
